*{padding: 0; margin: 0;}

#wrapper{text-align: center;}
#header{ border:solid black;  height: 141px; background-color: #f7755e; }


#nav{border:solid black;
    width: 25.35%;
	height: 600px;
    background-color: #fce5b6;
    float: left;}

#content{border:solid black;
	width: 74%;
	height: 495px;
	background-color: #f0d767;
	float: right; }

#image{
    float: left;}

#footer{border: solid black;
	width: 74%;
	height: 100.5px;
	background-color: #2db58a;
	float: right; }